parameters:
    level: max

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - 'Class Threaded not found.'

    paths:
        - /src/
    scanDirectories:
        - /src/